@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#root{
  width:100vw;
  height:100vh;
  /* background: black; */
}

body{
  overflow: hidden;
  background: radial-gradient(at 50% 60%, #1c1c1c 0%, #1f1f1f 30%, #070710 80%, #000 100%)
}

@font-face {
  font-family: 'Proxima';
  src: local('Proxima'), url(./fonts/proxima_nova.ttf) format('truetype');
}

@font-face {
  font-family: 'Freight';
  src: local('Freight'), url(./fonts/freight_medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Chinese1';
  src: local('Chinese1'), url(./fonts/chinese1.ttf) format('truetype');
}

@font-face {
  font-family: 'Chinese2';
  src: local('Chinese2'), url(./fonts/chinese2.ttf) format('truetype');
}

@font-face {
  font-family: 'TradeGothic';
  src: local('TradeGothic'), url(./fonts/tg.ttf) format('truetype');
}

@font-face {
  font-family: 'TradeGothicB';
  src: local('TradeGothicB'), url(./fonts/tg_b.ttf) format('truetype');
}

@font-face {
  font-family: 'TradeGothicBO';
  src: local('TradeGothicBO'), url(./fonts/tg_bo.ttf) format('truetype');
}

@font-face {
  font-family: 'TradeGothicL';
  src: local('TradeGothicL'), url(./fonts/tg_l.ttf) format('truetype');
}

@font-face {
  font-family: 'TradeGothicO';
  src: local('TradeGothicO'), url(./fonts/tg_o.ttf) format('truetype');
}


* {
    cursor: none;     
}

.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
                transform 0.3s ease-in-out;
    z-index:999
}

.cursor-dot {
    size: 8px;
    width: 8px;
    height: 8px;
    background-color: black;
}

.cursor-dot-outline {
    size: 20px;
    width: 20px;
    height: 20px;
    /* border: 1px solid white; */
    /* -webkit-filter: invert(1);
    filter: invert(1); */
    /* width:1.5em; */
    /* height:1.5em; */
    border-radius:50%;
    transform:translate(-50%,-50%);
    background:#fff;
    mix-blend-mode:difference;
}